[submodule "lib/entityx"]
	path = lib/entityx
	url = https://github.com/alecthomas/entityx.git
[submodule "lib/easyloggingpp"]
	path = lib/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
